In [1]:
# 掌握了基本使用之后，我们就能利用批量操作来解放双手（记得补充安装一个 xlrd 的库，否则会报错）
import pypinyin
import pandas as pd

# 先导入一份学生名单如下
df = pd.read_excel('学生名单_test.xls')
df.head()

               学号   姓名 性别
0  20000502310022  叶庭云  男
1  20000502310052   锐雯  女
2  20000581310080   亚索  男
3  20001683310012   李青  男
4  20001683310026  贾克斯  男

In [2]:
# 下面是使用 `pypinyin` 批量将全部学生的中文姓名转换为拼音
pinyin_name = []
first_pinyin = []
for i in df['姓名']:
    result = pypinyin.pinyin(i, style=pypinyin.NORMAL)
    result_ = [i[0] for i in result]
    result2 = result_[0].capitalize() + ' ' + ''.join(result_[1:]).capitalize()
    result3 = ''.join([i[0].upper() for i in result_])
    print(result2, i, sep=' ')
    pinyin_name.append(result2)
    first_pinyin.append(result3)
    
df['英文名'] = pinyin_name
df['拼音首字母'] = first_pinyin
df.head()

Ye Tingyun 叶庭云
Rui Wen 锐雯
Ya Suo 亚索
Li Qing 李青
Jia Kesi 贾克斯

               学号   姓名 性别         英文名 拼音首字母
0  20000502310022  叶庭云  男  Ye Tingyun   YTY
1  20000502310052   锐雯  女     Rui Wen    RW
2  20000581310080   亚索  男      Ya Suo    YS
3  20001683310012   李青  男     Li Qing    LQ
4  20001683310026  贾克斯  男    Jia Kesi   JKS